.container {
    display:flex;
   flex-direction:column;
   justify-content: center;
   align-items: center;
   width: fit-content;

   font-family: cursive;
   color:aliceblue;
   margin: 100px 450px;
   margin-right: 200px;
   background-color:rgb(9, 194, 55);
   box-shadow:0 0 5px chartreuse;
   border-radius: 10px;
}
.container button {
    border-radius: 10px;
    border-color: aqua;
    color: aqua;
    background-color: #282c34;
    height: 50px;
    width: 120px;
    font-family: cursive;
    font-size: 20px ;

}
.container img {
    width:350px;
}

.warning {
    
    border-color: red;
    background-color: rgb(239, 90, 90);
}